html, body {
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: var(--background);
    color: var(--foreground);
    font-family: 'Lato', sans-serif;
    overflow-x: hidden;

    --background: #34373b;
    --foreground: #e5e5e5;
    --button-foreground: #ffffff;
    --button-outline: rgba(0, 0, 0, 0.25);
    --button-outline-focused: rgba(0, 0, 0, 0.5);
    --variable-1: #a9d0df;
    --variable-2: #e6bcaa;
    --variable-3: #cf99c9;

    transition: background-color 0.2s, color 0.2s;
}

main {
    height: 70vh;
}

#canvas {
    height: 70vh;
    width: 100vw;
}

footer {
    flex-grow: 1;
    min-height: 30vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 14pt;
}

#meta-settings {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#selection, #method {
    display: flex;
    flex-direction: row;
    align-items: center;
}

footer .arrow {
    margin-left: 6px;
    margin-right: 6px;
}

footer select {
    margin: 2px 4px;
    background: none;
    border: 1px solid var(--button-outline);
    border-radius: 2px;
    color: var(--foreground);
    transition: border-color 0.2s, color 0.2s;
    appearance: none;
    font-size: 14pt;
    font-family: 'Roboto Mono', monospace;
    text-align-last: center;
    padding-left: 2px;
    padding-right: 2px;
}

footer select:hover, footer select:active {
    color: var(--button-foreground);
    border: 1px solid var(--button-outline-focused);
}

footer option {
    text-align: center;
}

#transformation-selection.hidden {
    display: none;
}
#transformation-selection.shown {
    display: default;
}

#settings-viz, #settings-seq, #settings-trans {
    list-style-type: none;
    padding: 0;
    line-height: calc(1.5em + 6px);
}

#settings li {
    text-align: center;
}

#export {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#export > #dimensions {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 0.5em;
}

#export button {
    margin: 0.9em 0.9em;
}

footer button.input {
    cursor: pointer;
}

footer button.input:hover {
    border-color: var(--foreground);
}

footer .input[type="number"] {
    width: 6em;
    appearance: textfield;
    text-align: center;
}

footer .input {
    display: inline-block;
    font-family: 'Roboto Mono', monospace;
    font-weight: 500;
    background: none;
    border: 1px solid var(--button-outline);
    border-radius: 3px;
    color: var(--button-foreground);
    padding: 2px 5px;
    min-width: 1em;
    transition: border-color 0.2s, color 0.2s;
    font-size: inherit;
}

footer .input:hover, footer .input:active {
    border: 1px solid var(--button-outline-focused);
}

#settings .variable {
    font-weight: 500;
}

#settings .variable.one {
    color: var(--variable-1);
}
#settings .variable.two {
    color: var(--variable-2);
}
#settings .variable.three {
    color: var(--variable-3);
}
#settings .variable.bold {
    font-weight: 500;
}

#selection {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

#colors {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#colors > div {
    margin-top: 0.5em;
    margin-bottom: 0.5em;
}

#export, #settings, #method, #selection, #colors {
    position: relative;
    border-top: 1px solid var(--foreground);
    padding-top: 1em;
    margin-bottom: 1em;
    margin-top: 1em;
    max-width: 80vw;
    width: fit-content;
}

#export::before {
    content: "Export";
}

#settings::before {
    content: "Settings";
}

#method::before {
    content: "Method";
}

#selection::before {
    content: "Selection";
}

#colors::before {
    content: "Colors";
}

#export::before, #settings::before, #method::before, #selection::before, #colors::before {
    position: absolute;
    left: 50%;
    top: 0%;
    transform: translateX(-50%) translateY(-60%);
    background: var(--background);
    padding-left: 6px;
    padding-right: 6px;
    font-weight: 600;
    transition: background-color 0.2s, color 0.2s;
}

@media only screen and (max-aspect-ratio: 1.2) {

}

@media only screen and (min-aspect-ratio: 1.2) {
    footer {
        width: 80vw;
        margin-left: auto;
        margin-right: auto;
        flex-direction: row;
        justify-content: space-between;
        align-items: flex-start;
    }

    #meta-settings {
        order: -1;
        max-width: 35vw;
    }

    #settings {
        max-width: 35vw;
    }
}
